extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Ha YoungJin

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.
          br
          | Life-long learner :)

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I realized that most important things in life is not getting respect from others.
            br
            | The really important thing is improving myself and getting respect from myself. 
            br
            | I retired my X-job which was an researcher in Hyundai automobile. 
            | It was pretty good job to get respect from others but make me feel awful because there was nothing that I can do myself. 
            br
            | Since then, I started to study Javascript after work,It was about November in 2018, and found this kind of skill would help me acheive life long dream. 
            br
            | I have No regret in decision of retiring and happy every day feeling improved every day :) 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS
          li AJAX
          li Node.js
          li Express
          li React
          li jQuery
          li AWS
          li Pug
          li npm
        h6 Contact Info

        //- Add your own contact info
        ul
          li 010-6889-0826
          li teen14y@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/youngjin-ha-66978716a/',target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/teen16y',target="_blank") GitHub
        a.button.expanded(href='https://teamtreehouse.com/youngjinha',target="_blank") TreeHouse
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
